body {
    padding-top: 60px;
}

.required {
    padding-left: 0px !important;
}

.red {
    color: red;
    font-weight: bold;
}

.hide {
    display: none;
}

.footer {
    padding: 20px;
}

.navbar-fixed-top {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
    font-weight: bold;
}

@media (max-width: 767px){
    .hidden-xs {
        display: none!important;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .hidden-sm {
        display: none!important;
    }
}

.breadcrumb {
    border: 0 !important;
    background-color: transparent !important;
}

div.actions > ul {
    float: right;
}
        
.loading {
    width: 150px !important;
    margin: 20% auto !important;
}

.loading > .modal-content {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0 !important;
}

.loading > .modal-content > .modal-body {
    padding: 20px;
}

/* #wizard > .content > section.body > .card {
    min-height: 470px;
} */

#overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.9);
    transition: 1s 0.4s;
}